<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/detailSP.css">
    <link rel="stylesheet" href="css/form.css">
   
</head>

<body>
    <!--Header-->
    <div class="header">
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="#" class="card">Card</a>
            <a href="#" class="login" >Login</a>
            <a href="#" class="register">Register</a>
            <form action="/searchProduct" method="GET">
             <input type="text" placeholder="Search..">
            <input type="submit" value="Go" style="margin-top: 8px;">
            </form>
        </div>
    </div>
    <!--Chi tiết  sản phẩm-->
    <div class="detail_product">
        <div class="cot1_img">
            <img src="img/Product/Product1.jpg" alt="">
        </div>
        <div class="cot2">
            <div class="cot2_gia">
                <div class="gia">
                    <p>Mua online giá sốc:</p>
                    <p>5.000.000 đ</p>
                </div>
                <div class="gia">
                    <p>Giá thường</p>
                    <p>5.000.000 đ</p>
                </div>
            </div>
            <div class="khuyenMai">
                <ul>
                    <li>Trả góp 0%</li>
                    <li>Tặng mã giảm giá 5% để mua Laptop</li>
                    <li>Giảm 30% Sim Viettel khi mua kèm máy</li>
                </ul>
            </div>
            <div class="" style="margin-top: 20px;" >
             <a href="#"  >MUA NGAY</a><br><br>
            <a href="#" >THÊM VÀO GIỎ HÀNG</a>
            </div>
           
        </div>
        <div class="cot3">
            <h3>Thông số kĩ thuật</h3>
            <ul>
                <li>Tên sản phẩm    : Nokia 6</li>
                <li>Màn Hình        : 1080 x 2280 Pixel</li>
                <li>Camera trước    : 20.0 MP</li>
                <li>Camera sau      : 48MP</li>
                <li>RAM             : 4 GB</li>
                <li>Bộ nhớ trong    : 64 GB</li>
                <li>Chíp            : Snap Dragon 850</li>
                <li>Dung lượng pin  : 3500mhAh</li>
                <li>Nhà sản xuất    : Apple</li>
            </ul>

        </div>

    </div>
     <!--Footer-->
     
     
         <div class="footer">
             <p>Copy right 2019 by Sky.net</p>
             <p><a href="#">Chính sách bảo hành</a></p>
             <p><a href="#">Câu hỏi thường gặp mua hàng</a></p>
             <p><a href="#">Chính sách bảo mật</a></p>
             <p><a href="#">chính sách trả góp</a></p>
             <p><a href="#">Hỗ trợ 24/24 : 0969034989</a></p>
             <p>Chi nhánh: 196 Lê Thanh Nghị-Hai Bà Trưng-Hà Nội</p>
         </div>
     
</body>

</html>