<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/form.css">
    
</head>
<body>
    <!--Header-->
    <div class="header">
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
            <a href="#" class="card">Card</a>
            <a href="#" class="login" >Login</a>
            <a href="#" class="register">Register</a>
            <form action="/searchProduct" method="GET">
             <input type="text" placeholder="Search..">
            <input type="submit" value="Go" style="margin-top: 8px;">
            </form>
           
        </div>
    </div>
<!--Form login-->
<div class="container">
        <h2 style="color: red; margin-left: 200px;">${mesErr}</h2>
        <form action="/login" method="POST">
            <h3>Đăng nhập: </h3>

            <div class="row">
                <div class="col-25">
                    <label for="DIENTHOAI">Số điện thoại :</label>
                </div>
                <div class="col-75">
                    <input type="text" id="DIENTHOAI" name="DIENTHOAI" placeholder="Số điện thoại..">
                </div>
            </div>


            <div class="row">
                <div class="col-25">
                    <label for="Password">Mật khẩu :</label>
                </div>
                <div class="col-75">
                    <input type="password" id="Password" name="Password" placeholder="password">
                </div>
            </div>
           

            <div class="row">
                <input type="submit" value="Submit">
            </div>


        </form>
    </div>
    <!--Footer-->
    
    <div class="footer">
            <p>Copy right 2019 by Sky.net</p>
            <p><a href="#">Chính sách bảo hành</a></p>
            <p><a href="#">Câu hỏi thường gặp mua hàng</a></p>
            <p><a href="#">Chính sách bảo mật</a></p>
            <p><a href="#">chính sách trả góp</a></p>
            <p><a href="#">Hỗ trợ 24/24 : 0969034989</a></p>
            <p>Chi nhánh: 196 Lê Thanh Nghị-Hai Bà Trưng-Hà Nội</p>
        </div>
</body>
</html>